.big-block {
  display: flex;
  justify-content: center;
}
.banner-top,
.banner-bottom {
  background-color: black;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-bottom {
  margin-top: 320px;
  transform: rotate(180deg);
}
.tr3 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 550px 100px 550px;
  border-color: transparent transparent white transparent;
  position: absolute;
  bottom: 0px;
}
.banner {
  width: 200px;
  height: 200px;
  flex-wrap: wrap;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 240px;
  animation-name: rrrrr;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.banner div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div1 {
  background-color: rgb(2, 120, 189);
  transform: translateX(-15px) translateY(-15px);
}
.div2 {
  background-color: rgb(0, 192, 96);
  transform: translateX(25px) translateY(-25px);
}
.div3 {
  background-color: rgb(235, 106, 1);
  transform: translateX(-25px) translateY(25px);
}
.div4 {
  background-color: rgb(67, 65, 226);
  transform: translateX(15px) translateY(15px);
}
.div5 {
  border-radius: 50%;
  background-color: green;
  position: absolute;
  animation-name: rrrrr;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.line {
  width: 200px;
  height: 10px;
  background-color: black;
  position: absolute;
  transform: rotate(90deg);
  margin-top: 480px;
}
@keyframes rrrrr {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* animation-name: rrrrr;
animation-duration: 2s;
animation-iteration-count: infinite; */
