.AA{
  width:100%;  
  height: auto;  
  max-height: 300px; 
}
.indro{
  background-color:whitesmoke;
}
.A1{
  background-color;
  margin-top: 30px;
  color:grey;
  font-size:45px;
}
.A2{
  color:tomato;
  font-size: 0.6cm;
  margin-top: 20px;
}
.A3{
  font-size:30px;
  margin-top:15px;
}