#div1 img{
    position: relative;
    width: 400px;
    height: 400px;
}
.survey{
    font-size: 30px;
}
.survey2{
    font-size: 35px;
    color: orchid;
    
}
.b2b{
    font-size: 35px;
    color: blue;    
}
.img1{
    padding: 15px;
    position: relative;
    width: 300px;
    height: 325px;
}
.img2{
    padding: 15px;
    width: 300px;
    height: 325px;
    position: relative;
}