#myTab .active {
  color: red;
}
/* +++++++++++++++++++++++++ 
    TODO:零售市場 開始
+++++++++++++++++++++++++ */
#retail1 .market-product1{
  position: relative ;
  right: 0;
  margin: 0 20px 20px 20px;

}
#retail1 .introduce1{
  float: right;
  margin: 0 30px 30px 0;
  width: 200px;
  clear: both;
}
.introduce1 img{
  width: 350px;
  height: 350px;
}
.imga1 img{
  width: 150px;
  height: 75px;
  flex-direction: row;
  flex-wrap:wrap ;
  padding: 10px 0 20px 0;
  background-color: whitesmoke;
  background-size: cover;
  
}

#retail2 .market-product2{
  position: relative ;
  right: 0;
  margin: 0 20px 20px 20px;

}
#retail2 .introduce2{
  float: right;
  margin: 0 30px 30px 0;
  width: 200px;
  clear: both;
}
.introduce2 img{
  width: 350px;
  height: 350px;
}
.imga2 img{
  width: 150px;
  height: 75px;
  flex-direction: row;
  flex-wrap:wrap ;
  padding: 10px 0 20px 0;
  background-color: whitesmoke;
  background-size: cover;
  
}

/* +++++++++++++++++++++++++ 
    零售市場 結束
+++++++++++++++++++++++++ */
