#retail-commodity{

}
.product1 {
    position: relative;
    padding: 30px;
    top: 0%;
    flex-direction: row;
    width: 200px;
    height: 200px;
}
.product:hover{
    color: aquamarine;
}
.ASD:active{
    opacity: 0;
    display: none;
}